body{
  margin: 0;
}
#newsletter{
  background-color: purple;
  height: 5vh;

  display: flex;
  align-items: center;
  }

.logo{
  display: inline-block;
}

#newsletter img{
  width: 50px;
}

#champs_newsletter{
  width: 100%;
  justify-self: center;
}

#champs_newsletter>div{
  display: flex;
  align-items: center;
  justify-content: center;
}
#champs_newsletter>div>*{
  margin: 5px;
}